.dashboard {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 60px 1fr;
    height: 100vh;
    grid-template-areas:
      "header header"
      "sidebar content";
  }
  
  .header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
  }
  
  .actions {
    display: flex;
    width: 80%;
  }
  
  .addButton,
  .settingsButton {
    margin: 0 10px;
    padding: 10px;
    border: none;
    background-color: #4e9f3d;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .search {
    padding: 10px;
    margin: -5px 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width:75%;
  }
  
  .sidebar {
    grid-area: sidebar;
    background-image: linear-gradient(to bottom, #f2994a, #f2c94c);
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .nav {
    display: flex;
    flex-direction: column;
  }
  
  .navButton {
    background: none;
    border: none;
    margin: 10px 0;
    cursor: pointer;
  }
  
  .content {
    grid-area: content;
    padding: 20px;
    overflow-y: auto;
    background-image: linear-gradient(to bottom, #f2994a, #f2c94c)
  }
  
  .meals {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
  }
  
  .mealCard {
    background-color: #e1e1e1;
    padding: 20px;
    border-radius: 5px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
  }
  
  @media (max-width: 768px) {
    .header {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .actions {
      flex-direction: column;
      width: 100%;
      align-items: center;
    }
  
    .search {
      width: 100%;
    }
    
    .sidebar {
      display: none;
    }
  }
  