body {
  background: linear-gradient(135deg, #6e8efb, #a777e3);
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Zapobiega przewijaniu całego ciała */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow-y: auto; /* Umożliwia przewijanie w pionie */
  max-height: 100vh; /* Ogranicza maksymalną wysokość kontenera */
}

.card {
  width: 33vw; /* 1/3 szerokości ekranu */
  max-width: 450px; /* Opcjonalnie: ograniczenie maksymalnej szerokości */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  background-color: #ffffff;
  padding: 20px;
}

.cardTitle {
  text-align: center;
}

.text-danger {
  margin-bottom: 15px;
  text-align: center;
}

.formLabel {
  font-weight: 500;
  color: #555;
  font-size: 16px;
}

.btnPrimary {
  display: block;
  width: 100%; /* Zapewnia, że przycisk zajmuje całą szerokość kontenera */
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  border: none;
  color: #fff;
  cursor: pointer;
  margin: 10px 0;
}

.btn-primary:hover {
  background-color: #5a7ddb;
}

.errorMessage {
  background-color: #ffcccc; /* Jasnoczerwone tło */
  color: #cc0000; /* Ciemnoczerwony tekst */
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  margin-bottom: 15px;
  font-weight: bold;
  border: 1px solid #cc0000; /* Ciemnoczerwona ramka */
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .card {
    width: 80vw; /* Zmniejszenie szerokości karty */
    padding: 15px;
  }

  .card-title {
    font-size: 24px;
  }

  .form-control {
    padding: 10px;
    font-size: 14px;
  }

  .btn-primary {
    padding: 8px;
    font-size: 14px;
  }
}